* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

body {
    background: #081122 url(./assets/currency-bg-darker.png) no-repeat center;
    background-size: cover;
    height: 100vh;
}


.logo {
    display: block;
    width: 140px;
    margin: 50px auto 30px;
}

.quadro {
    margin: 0 auto;
    width: 350px;
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 2cqh;
    padding-top: 25px;
    padding-bottom: 22px;
}

label {
    margin-left: 26px;
    font-weight: bold;
    color: rgb(23, 81, 131, 0.9);
}

select,
.valor {
    display: block;
    margin: 3px auto 20px;
    width: 85%;
    height: 48px;
    border-radius: 5px;
    border: 1px solid rgb(23, 81, 131, 0.7);
    padding-left: 10px;
    outline: none;
    font-weight: 500;
    font-size: 1em;
}



.valor::placeholder{
    font-weight: 400;
    font-size: 0.9em;
}

input[type=number]::-webkit-inner-spin-button{
    appearance: none;
}

button {
    display: block;
    margin: 0 auto;
    width: 85%;
    height: 48px;
    border-radius: 5px;
    border: none;
    background-color: rgb(23, 81, 131);
    color: white;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 0.5px;
    cursor: pointer;
    /* box-shadow: rgb(0, 0, 0, 0.5) 0px 3px 5px; */
}

button:hover {
    /* background-color: rgb(23, 81, 131,0.8); */
    border: 2px solid #A7FFFF;
    color: #A7FFFF;
}

button:active {
    background-color: rgb(23, 81, 131, 0.8);
}

.amostra {
    position: relative;
    margin: 20px auto 0;
    padding: 30px 4px;
    border: 1px solid gray;
    border-radius: 10px;
    width: 85%;
    border-color: rgb(23, 81, 131);
    text-align: center;
}

.flag-left, .flag-right {
    width: 60px;
}

.nome-amostra-left, .nome-amostra-right  {
    font-size: 0.9em;
    color: rgb(23, 81, 131);
}

.valor-amostra-left, .valor-amostra-right {
    font-weight: bold;
    color: rgb(23, 81, 131);
}

.arrow {
    /* border: 1px solid red; */
    position: absolute;
    width: 30px;
    left: 45%;
    top: 44px;
}

.left {
    /* border: 1px solid red; */
    display: inline-block;
    width: 49%;
    margin: auto;
}

.right {
    /* border: 1px solid red; */
    display: inline-block;
    width: 49%;
    margin: auto;
}

#update{
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
    color: rgb(23, 81, 131);
    margin-top: 7px;
    font-weight: 500;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-weight: 100;
}

footer a {
    color: white;
    font-weight: 300;
    letter-spacing: 0.9px;
}

footer a span {
    color: #A7FFFF;
}